<div class="modal-content">
  <!--Header-->
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <!--Body-->
  <div class="modal-body">
    <div class="text-center">
      <qrcode [qrdata]="data" *ngIf="data"></qrcode>
    </div>
  </div>

  <div class="modal-footer justify-content-center">
    <button type="button" mdbBtn color="dark" outline="true" class="waves-light" aria-label="Close" (click)="hide()"
      mdbWavesEffect>
      Close
    </button>
  </div>
</div>
