<ul class="list-group" *ngIf="players | async as items; else loading">
  <li class="list-group-item d-flex align-items-center" *ngFor="let item of items; let i = index"
    (click)="onPlayerClick($event, item)">

    <div class="mr-auto">
      {{item.name}}
    </div>

    <div *ngIf="showMaxMisses">
      <mdb-badge class="" pill="true" warning="true">{{item.maxMisses}}</mdb-badge>
    </div>

    <div class="ml-4" *ngIf="canEdit">
      <button type="button" class="p-1 ml-0" mdbBtn color="indigo" outline="true" mdbWavesEffect
        (click)="onPlayerEditClick($event, item)">
        <mdb-icon class="" fas icon="user-edit"></mdb-icon>
      </button>
      <button type="button" class="p-1 ml-0" mdbBtn color="danger" outline="true" mdbWavesEffect
        (click)="onPlayerDeleteClick($event, item)">
        <mdb-icon class="" fas icon="user-times"></mdb-icon>
      </button>
      <button type="button" class="p-1 ml-0" mdbBtn color="dark" outline="true" mdbWavesEffect
        (click)="onPlayerShare($event, item)">
        <mdb-icon class="" fas icon="share-alt"></mdb-icon>
      </button>
    </div>

    <div class="custom-control custom-switch ml-4" *ngIf="canSelect" (click)="$event.stopPropagation()">
      <input type="checkbox" class="custom-control-input" [id]="'player-toggle-' + i"
        (change)="onPlayerCheckChange($event, item)">
      <label class="custom-control-label" [for]="'player-toggle-' + i"></label>
    </div>

  </li>
</ul>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
