<mdb-breadcrumb>
  <mdb-breadcrumb-item>
    <mdb-icon fas icon="home" class="mr-1"></mdb-icon>
    <a routerLink="/">Home</a>
  </mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="active">
    <mdb-icon fas icon="dice-d20" class="mr-1"></mdb-icon>
    Create New Game
  </mdb-breadcrumb-item>
</mdb-breadcrumb>

<div class="container">
  <div class="row mx-2 mb-4">
    <!-- Target score -->
    <div class="md-form col-6 mb-0">
      <input type="number" mdbInput class="form-control" min="20" max="100" [(ngModel)]="game.targetScore">
      <label class="">Target Score:</label>
    </div>

    <!-- Reset score -->
    <div class="md-form col-6 mb-0">
      <input type="number" mdbInput class="form-control" min="10" max="100" [(ngModel)]="game.resetScore">
      <label class="">Reset Score:</label>
    </div>
  </div>

  <!-- Player list-->
  <app-players-list #playerList [canSelect]="true"></app-players-list>

  <!-- Buttons -->
  <div class="d-flex justify-content-center mt-2">
    <a routerLink="/" type="button" mdbBtn color="dark" outline="true" class="waves-light" aria-label="Close" mdbWavesEffect>
      Cancel
    </a>
    <button type="button" mdbBtn color="indigo" class="relative waves-light" mdbWavesEffect [disabled]="!canCreate"
      (click)="onCreateClick($event)">
      Create
    </button>
  </div>
</div>
