<div class="modal-content">
  <!--Header-->
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <!--Body-->
  <div class="modal-body">
    <zxing-scanner (camerasNotFound)="onCamerasNotFound($event)" (scanSuccess)="onScanSuccess($event)" *ngIf="canScan">
    </zxing-scanner>

    <div class="alert alert-danger mb-3" *ngIf="error">
      {{error}}
    </div>

    <div class="" *ngIf="!canScan">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <mdb-icon fas icon="camera"></mdb-icon>
          </span>
        </div>

        <div class="custom-file">
          <input type="file" accept="image/*" capture="camera" id="scan-modal-upload" (change)="onFileUpload($event)">
          <label class="custom-file-label" for="scan-modal-upload">Take Photo</label>
        </div>
      </div>
    </div>
  </div>
</div>
