<div class="modal-content">
  <!--Header-->
  <div class="modal-header">
    <h4 class="modal-title w-100">
      <span *ngIf="isEditing">Edit Player</span>
      <span *ngIf="!isEditing">Add Player</span>
    </h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <!-- Body -->
  <form class="modal-body" [formGroup]="playerForm">

    <!-- Name -->
    <div class="md-form">
      <input mdbInput #playerName type="text" class="form-control" placeholder="The name of the player."
        formControlName="name" [ngClass]="{'invalid': !playerForm.controls.name.valid}">
      <label class="">Player Name:</label>
    </div>

    <!-- Misses -->
    <div class="md-form">
      <input mdbInput type="number" class="form-control" min="0" max="10" placeholder="The number of misses to eliminate the player."
        formControlName="maxMisses" [ngClass]="{'invalid': !playerForm.controls.maxMisses.valid}">
      <label class="">Misses in row:</label>
    </div>

  </form>

  <!-- Footer -->
  <div class="modal-footer justify-content-center">
    <button type="button" mdbBtn color="dark" outline="true" class="waves-light" aria-label="Close" (click)="hide()"
      mdbWavesEffect>
      Cancel
    </button>
    <button type="button" mdbBtn color="indigo" class="relative waves-light" mdbWavesEffect
      (click)="onSaveClick($event)" [disabled]="!playerForm.valid">
      Save
    </button>
  </div>
</div>
